---
layout: default
---
<div class="flex-container">
  {% include header.html %}
  <div class="content wrapper">
    {{ content }}
  {% include search.html %}
  {% include pagination.html %}
        </br>
  <div>
    <h2 style="text-align: center;">About</h2>
    <div style="display: flex;">
      <div style="padding: 1em">

        <a href="https://mrityunjay.ml/">
        <img width="500px" style="border-radius: 50%;" src="{{site.url}}/assets/img/mrityunjay.png">
        </a>
      </div>

      <div style="padding: 1em">
        Reinforcement Learning Playground was created by <a href="https://mrityunjay.ml/">Mrityunjay Bhardwaj</a> while going through RL Books and Literature. The goal of this website is to make reinforcement learning a bit more accessible through interactive visualizations (designed using Mike Bostock’s JavaScript library <a href="https://d3js.org/">D3.js</a>).
        </br>

      </div>
    </div></a>
  </div>
  </div> <!-- End Wrapper -->
  {% include footer.html %}
</div>
